<!DOCTYPE html>
<html>
<head>
    <title>Select Dice</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <h1>Select Dice</h1>
    <select id="dice" name="dice">
        <option value="regular">Regular</option>
        <option value="cities_and_knights">Cities and Knights</option>
    </select>

    <select id="roll_type" name="roll_type">
        <option value="random">Random</option>
        <option value="balanced">Balanced</option>
    </select>
</html>