<!DOCTYPE html>
<html>
  <head>
    <title>Select Dice</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{
    url_for('static',filename='styles/dice_selection.css') }}"
    />
  </head>

  <body>
    <h1>Select Dice</h1>
    <form method="POST" action="{{ url_for('dice_selection') }}">
      <select id="dice_type" name="dice_type">
        <option value="regular">Regular</option>
        <option value="cities_and_knights">Cities and Knights</option>
      </select>

      <select id="roll_type" name="roll_type">
        <option value="random">Random</option>
        <option value="balanced">Balanced</option>
      </select>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
